/* Type Selectors */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

h1 {
  font-family: 'Noto Serif';
  color: #d6d4d0;
  font-size: 1rem;
}

h2 {
  font-family: 'Noto Serif';
  font-weight: 800;
  font-size: 1.75rem;
}

/* Width container for various sections */
.width-container {
  width: 80vw;
  margin: 0 auto;
}

/* Background colors per section */
#about-section {
  background-color: #d6d4d0;
}

#contact-section {
  background-color: #535c7b;
}

.footer-section {
  background-color: #d6d4d0;
  height: 5vh;
  display: flex;
  align-items: center;
}

.header-section,
.hero-section,
.intro-section,
.sidebar-section {
  background-color: #6c9b80;
  width: 100%;
}

#works-section {
  background-color: whitesmoke;
}

/* Header section*/
.header-section > .width-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 50px 0 20px 0;
  border-bottom: 3px solid #535c7b;
}

.name {
  font-size: 1.25rem;
}

.navbar {
  display: flex;
}

.navbar a:hover {
  color: #535c7b;
}

.navbar > li {
  font-family: 'Roboto';
  font-size: 1rem;
  margin-right: 1.5rem;
  color: #d6d4d0;
  font-weight: 500;
}

.navbar > li:last-child {
  margin-right: 0;
}

/* Hero Section */
@keyframes move-left {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100px);
  }
}

.blue-circle {
  width: 300px;
  position: absolute;
  left: 55%;
  top: 10%;
  animation: move-left 20s linear infinite;
}

.hero-section {
  display: flex;
  justify-content: center;
  padding: 150px 50px;
  position: relative;
}

.hero-blue-horizontal {
  border-top: 3px solid #535c7b;
  height: 1px;
  width: 80vw;
  position: absolute;
  bottom: 0;
}

.hero-text {
  z-index: 100;
}

.hero-text-centering {
  position: relative;
}

.phrase1 {
  font-family: 'Noto Serif';
  font-size: 2.25rem;
  color: whitesmoke;
  font-weight: 700;
}

.phrase2 {
  font-family: 'Roboto';
  font-size: 2.25rem;
  color: #d6d4d0;
  font-weight: 300;
}

.phrase2:hover {
  color: whitesmoke;
}

/* Sidebar and Main */
.sidebar-main {
  display: flex;
}

/* Sidebar section */
.sidebar-container {
  margin-left: 10vw;
  padding-top: 50px;
  padding-right: 20px;
  position: sticky;
  top: 0;
  padding-bottom: 50px;
}

.sidebar-section {
  font-family: 'Roboto';
  font-size: 1.2rem;
  color: #535c7b;
  align-self: stretch;
  border-right: 3px solid #535c7b;
  line-height: 1.5;
  width: 50vw;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Intro section */
.arrow-link:hover {
  color:#535c7b;
}

.intro-section {
  font-family: 'Noto Serif';
  font-weight: 600;
  font-size: 1.5rem;
  color: #d6d4d0;
}

.intro-container {
  margin-right: 10vw;
  padding-top: 70px;
  padding-left: 50px;
  padding-right: 50px;
}

.intro-container > p {
  margin-bottom: 100px;
}

.intro-container > p:last-child {
  margin-bottom: 50px;
  color: whitesmoke;
}

/* About section */
.about-container {
  margin-right: 10vw;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  /* height: 100dvh; */
  color: #535c7b;
}

.about-container > h2 {
  margin-bottom: 50px;
}

.about-links {
  color: #6c9b80;
}

.about-paragraphs {
  margin-bottom: 1.5rem;
}

#about-section p {
  font-family: 'Roboto';
  line-height: 2;
}

.cv {
  margin-top: 10px;
  margin-bottom: 100px;
  padding: 10px;
  outline: none;
  background-color: #d6d4d0;
  color: #535c7b;
  border: 3px solid #535c7b;
  border-radius: 5px;
}

.cv:hover {
  background-color: #535c7b;
  color: #d6d4d0;
}

.logo-container {
  display: flex;
}

.logo-cell {
  border: 3px solid #535c7b;
  border-radius: 10px;
  width: 10dvw;
  height: 10dvw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.25s linear;
  margin-bottom: 70px;
  margin-right: 10px;
}

.logo-cell:hover {
  background-color: #535c7b;
  color: #d6d4d0;
  transform: translateY(-5px);
}

/* Works Section */
.work-caption {
  overflow: hidden;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 1rem;
  padding-top: 5px;
  padding-right: 5px;
  margin-bottom: 2rem;
}

.works-container {
  padding-top: 50px;
  color: #535c7b;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work-cell {
  width: 25rem;
  margin-bottom: 5rem;
}

.works-container>h2 {
  margin-bottom: 3rem;
}

.bar-hover {
  border-bottom: 5px solid transparent;
  transition: 0.25s ease-in;
}

.bar-hover:hover {
  transform: translateY(-10px);
  border: none;
  border-bottom: 5px solid #535c7b;
}

.work-image {
  background-color: #d6d4d0;
  width: 25rem;
  height: 25rem;
  margin-bottom: 0 auto;
}

.work-title {
  font-family: 'Roboto';
  font-weight: 800;
  font-size: 1.5rem;
  margin-top: 3rem;
}

/* Contact Section -- use GRID */
#contact-section {
  color: #d6d4d0;
}

.contact-details > p,
.contact-form {
  font-family: 'Roboto';
  font-size: 1rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-name,
.contact-email,
.contact-message {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.contact-details {
  grid-area: contact-details;
  margin-bottom: 5rem;
}

.contact-form {
  grid-area: contact-form;
  padding-top: 100px;
}

.contact-details-flex {
  display: flex;
  align-items: flex-start;
  column-gap: 20px;
}

.contact-text-cell {
  width: 100%;
  margin-bottom: 1rem;
}

.envelope {
  width: 25px;
}

.email-text-cell {
  font-family: 'Roboto';
  font-size: 1rem;
}

.email-text-cell:hover {
  color: whitesmoke;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    'none contact-form'
    'circle contact-form'
    'contact-details contact-form';
}

input[type='text'],
textarea {
  border: 1px solid #d6d4d0;
  outline: none;
  background: transparent;
  color: #d6d4d0;
  padding: 5px;
}

label {
  margin-bottom: 2px;
}

.submit-btn {
  color: #d6d4d0;
  width: 70px;
  border: 1px solid #d6d4d0;
  outline: none;
  background: transparent;
  padding: 5px;
}

.submit-btn:hover {
  background-color: #d6d4d0;
  color: #535c7b;
}

.gray-circle {
  background-color: #d6d4d0;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  position: absolute;
}

.gray-circle:hover {
  display: none;
}

.white-circle {
  background-color: whitesmoke;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.circle-container {
  grid-area: circle;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 3px;
}

.circle-overlap {
  position: relative;
}

/* Footer Section */
.footer-container li {
  color: #535c7b;
}

/* Media Query */

@media only screen and (max-width: 900px) {
  .sidebar-main {
    flex-direction: column;
  }
  .sidebar-section {
    width: 100%;
    border-right: 0px;
  }

  .sidebar-container {
    border-bottom: 3px solid #535c7b;
  }

  .sidebar-container,
  .intro-container,
  .about-container,
  .works-container {
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    width: 80vw;
  }

  .blue-circle {
    width: 250px;
    left: 55%;
    top: 20%;
  }
} 

@media only screen and (max-width: 600px) {
  .blue-circle {
    width: 200px;
    position: absolute;
    left: 35%;
  }

  .contact-details {
  margin-bottom: 1rem;
  }
  
  .contact-form {
    padding-top: 2rem;
  }

  .header-section > .width-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .name {
    margin-bottom: 1rem;
  }

  .logo-container {
    width: 80vw;
  }

  .logo-cell {
    width: 20dvw;
    height: 20dvw;
    border-radius: 5px;
    margin-right: 5px;
  }

  .language {
    margin: 0;
    font-size: 1rem;
  }

  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 4fr;
    grid-template-areas: 
      "circle"
      "contact-details"
      "contact-form";
  }

  .work-cell {
    width: 80vw;
  }

  .work-image {
    width: 80vw;
    height: 80vw;
  }
}
